body {
    background-color: #0CC2E8;
}

body h2 {
    text-align: center;
}

div#eve {
    background-color: #0C8EF2;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    position: relative;
    border: 5px solid #0C8EF2;
    box-shadow: 3px 3px 6px white;
}

div p {
    text-indent: 30px;
    text-align: justify;
}

header > H1, header > h2 {
    text-align: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    
}

nav ul li:hover a {
    color: white;
}

nav > ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    background-color: #0C14F2;
    padding: 10px;
    box-shadow: 3px 3px 6px black;
    transition: all 0.5s;
}

nav ul li:hover {
    background-color: #0CC2E8;
    color: white;
}
/* below foto menu */

img#fotoMenu {
    width: 100px;
    height: 80px;
    float: right;
    margin-top: -180px;
}

/* below my input quantidade */

p input#tqua {
    width: 60px;
}

/* below my fieldset */

fieldset {
    width: 500px;
    margin: 50px auto;
}
input {
    box-shadow: 2px 2px 3px black;
}